.header-section {
    background-image: url("./image/macbook_mouse.jpg");
    height: 60vh;
    opacity: 0.9;
    padding: 1rem;
    background-size: cover;
    background-position: center;
}

.header-nav {
    color: whitesmoke;
}

.navlist {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem;
}

.navlist a:hover {
    text-decoration: underline;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu i {
    color: whitesmoke;
}

@media (max-width: 560px) {
    .navlist {
        display: none;
    }

    /* Show Hamburger Menu */
    .hamburger-menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}

.header-text {
    color: azure;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.social-links-lists {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
}

.social-links-lists i {
    color: whitesmoke;
    transition: 0.3s ease;
}

.social-links-lists i:hover {
    transform: scale(1.2);
    color: whitesmoke;
}


.profile-img {
    display: flex;
    justify-content: center;
    /* Hanging effect */
    transform: translateY(-50%);
}

.profile-img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.profile-img img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(16, 10, 3, 0.7);
}

.about-text {
    font-size: large;
    font-weight: 700;
}

.highlight {
    color: blue;
}

#skills {
    background-color: rgb(244, 240, 240);
    padding: 2rem;
}

.skills-logo-text {
    display: flex;
    justify-content: center;

}

.skills-header {
    color: blue;
}

.skill-bar {
    height: 15rem;
    width: 50%;
    background-color: #e5e5e5;
}

.progres {
    padding: 2rem 5rem;
    justify-content: center;

}

.progress-bar {
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Custom Colors */
.cpp {
    background-color: #2f5aa8 !important;
}

.html {
    background-color: #ff5a1f !important;
}

.css {
    background-color: #9b7c91 !important;
}

.js {
    background-color: #0f766e !important;
}

.node {
    background-color: #2f5aa8 !important;
}

.mongo {
    background-color: #9b7c91 !important;
}

.work-header {
    color: blue;
    text-align: center;
    padding: 2rem 0;
}


.work-logo {
    margin-left: 15rem;
    font-size: larger;
    font-weight: 700;
}

.left-card .right-card {
    text-align: end;
}